<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> About Mang'oto Scholars Community </title>
</head>
<body>

{% extends "template.html" %}
    {% block content %}

<h1> About Mang'oto Scholars Community </h1>
    <p> We are a growing scholars community from Mang'oto Ward, </p>
    <p> from Makete district in Njombe, Tanzania.
     <br> Most of us are first-generation university scholars,
        <br> hence, we feel obliged to give back to our community.
    <br> We believe that the small acts of kindness we show to our <br>
    community will create a hopeful and prosperous community to future generations. </p>

    {% endblock %}
</body>
</html>