<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> About Mang'oto Scholars Community </title>
</head>
<body>

{% extends "template.html" %}
    {% block content %}

<h1> About Mang'oto Scholars Community </h1>
    <p> We are a growing scholars community from Mang'oto </p>
    <p> in Makete district from Njombe Tanzania.
     <br> Most of us are first-generation university scholars,
        <br>hence, we feel obliged to give back to our community.</p>

    {% endblock %}
</body>
</html>